body{
    background-image: url('Fondo.jpg');
}

h1{
    border-bottom: 1px white solid;
}

.P1{
    font-size: 20px;
}
.P2{
    font-size: 20px;
}
.I1{
    width: 50%;
    border-radius: 6px;
    border-color: black;
}
.I2{
    width: 50%;
    border-radius: 6px;
    border-color: black;
}

.Contenido-General{
    color: white;
    height: 40%;
    width: 50%;
    padding: auto;
    border-radius: 20px;
    background-color: rgba(24, 24, 24, 0.86);
    border-color: 1px black solid;
    position: absolute;
    transform: translate(50%, 50%);
}

/*Botones*/
.Texto{
    top: 200px;
}

.B1{
    border-color: white;
    color: white;
    left: 10%;
    position: absolute;
    width: 18%;
    background: rgba(0, 0, 0, 0.518);
    font-size: 20px;
    padding: 4px;
    border-radius: 20px;
}
.B1:hover{
    background: rgb(255, 196, 0);
}

.B2{
    border-color: white;
    color: white;
    left: 30%;
    position: absolute;
    width: 18%;
    background: rgba(0, 0, 0, 0.518);
    font-size: 20px;
    padding: 4px;
    border-radius: 20px;
}
.B2:hover{
    background: rgb(255, 196, 0);
}

.B3{
    border-color: white;
    color: white;
    top: 75%;
    left: 40%;
    position: absolute;
    width: 18%;
    background: rgba(0, 0, 0, 0.518);
    font-size: 20px;
    padding: 4px;
    border-radius: 20px;
}
.B3:hover{
    background: rgb(255, 196, 0);
}

.B4{
    border-color: white;
    color: white;
    left: 50%;
    position: absolute;
    width: 18%;
    background: rgba(0, 0, 0, 0.518);
    font-size: 20px;
    padding: 4px;
    border-radius: 20px;
}
.B4:hover{
    background: rgb(255, 196, 0);
}

.B5{
    border-color: white;
    color: white;
    left: 70%;
    position: absolute;
    width: 18%;
    background: rgba(0, 0, 0, 0.518);
    font-size: 20px;
    padding: 4px;
    border-radius: 20px;
}
.B5:hover{
    background: rgb(255, 196, 0);
}